<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC62svkkgviutz2C06Bp7jk6fQqmLOkoaU</string>
	<key>GCM_SENDER_ID</key>
	<string>850606701308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackPlanner.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>track-planner-4132</string>
	<key>STORAGE_BUCKET</key>
	<string>track-planner-4132.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850606701308:ios:cbbe64ac49323e81a7f579</string>
</dict>
</plist>